@import url('https://fonts.googleapis.com/css2?family=Euphoria+Script&family=Montserrat&family=Roboto&display=swap');

body {
  background: white;
  color: #800020;
  font-family: serif;
  margin: 0;
  padding: 0;
}

header {
  background: #800020;
  color: white;
  padding: 10px;
  text-align: center;

}
h1, h2 {
  font-family: 'Euphoria Script', cursive;
}
h3 {
  font-family: 'Montserrat', sans-serif;
}

nav {
  background: #800020;
  padding: 10px;
  text-align: center;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
}



main {
  padding: 10px;
  text-align: center;
}

footer {
  background-color: #800020;
  color: white;
  padding: 10px;
  height: 100px;
}
.logo-footer {
  height: 30px; 
  width: auto; 
}

